.characters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.characters .card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5%;

    border: 0.3vw solid black;
}

.characters .card a img {
    border-bottom: 0.3vw solid black;
}
