body {
    background-image: url("https://static.wikia.nocookie.net/omori/images/6/69/Battleback_ft_church.png/revision/latest?cb=20210331062031");
}

.container {
    background-color: #bca293;
}

.link {
    color: rgb(255, 77, 157);
}
