body {
    background-image: url("https://static.wikia.nocookie.net/omori/images/b/b1/Battlebacks_dd_default.png/revision/latest?cb=20210415213536");
}

.container {
    background-color: #fdbea4;
}

.link {
    color: #ff4800;
}
