body {
    background-image: url("https://static.wikia.nocookie.net/omori/images/e/ef/SpaceBoyfriend_Battleback_%282018_Demo%29.gif/revision/latest?cb=20220814022407");
}

.container {
    background-color: #faf6ff;
}

.link {
    color: #d200e1;
}
