body {
    background-image: url("https://static.wikia.nocookie.net/omori/images/3/31/Battleback_sw_default.png/revision/latest?cb=20210105193146");
}

.container {
    background-color: rgb(237, 213, 225);
}

.link {
    color: rgb(229, 15, 86);
}
